extends layout

block content

 div(id="card")
  h1(id="title") Current temp of the city
  h1(id="city")= currentCity
  p(id="value")= temperature
  p(id="value") &#8451;
  img(src="images/weather.png", id="temp-pic")
