body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#card{
  background-color: #00B7FF;
}
#city{
  color: white;
  padding-left: 20px;
}
#value{
  float:left;
  color: white;
  padding-left: 20px;
  font-size: 40px;
}
#temp-pic{
  height: 100px;
  width: 100px;
  float:right;
  margin-right: 20px;
}
#title{
  text-align:center;
  color: white;
}
#card{
  height: 200px;
  width: 40%;
}

